@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200&family=Be+Vietnam+Pro:wght@400;500;700&family=EB+Garamond:ital,wght@0,400;0,600;0,800;1,400&family=Lato:wght@300&family=Poppins:wght@200;300;500;700&display=swap");
:root {
  --main-bg: rgb(244, 237, 227);
  --white-bg: rgb(255, 255, 255);
  --main-green: #00917c;
  --green: #11927f;
  --green-hover: #25a996;
  --green-lighter: rgba(19, 146, 146, 0.3);
  --yellow-light: rgba(233, 186, 22, 0.8);
  --yellow: rgba(233, 186, 22);
  --table-color: rgb(255, 252, 247);
  --padding-all: 100px 17% 100px 17%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-width: 347.37px;
  overflow-x: hidden;
  font-family: "EB Garamond", serif;
  scroll-behavior: smooth;
}
#backdrop-root {
  min-width: 347.37px;
}
#modal-root {
  min-width: 347.37px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: y mandatory;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100svh;
  min-height: 650px;
  text-align: center;
  scroll-snap-align: start;
  background-color: var(--main-bg);
}
header::before {
  content: "";
  background-image: url("./assets/books.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 200px;
  right: 50%;
  z-index: 1;
  transform: translate(50%, -5%) rotate(-15deg);
}
header h1,
header h2 {
  margin-bottom: 4px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 36px;
  color: var(--green);
  text-transform: uppercase;
  font-weight: 200;
  z-index: 2;
}
header h2 {
  font-size: 30px;
  text-transform: capitalize;
}
h2 {
  color: #bc623f;
  font-size: 30px;
  font-weight: 200;
  padding: 20px;
  text-align: center;
}
header p {
  margin-top: 0px;
  font-size: 20px;
  color: #bc623f;
  font-style: italic;
}
.form {
  width: 100%;
  height: 100svh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: #fefbe9;
}
.form > div {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formInput label {
  margin-bottom: 10px;
  font-size: 16px;
}
.formInput input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: none;
  background-color: var(--main-bg);
  border-radius: 10px;
  border: 1px solid #f7c04a;
}
.form p {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 200;
  color: #000;
  font-style: normal;
}
.form button {
  width: fit-content;
  align-self: center;
  padding: 10px 40px;
  background-color: #fe8a7d;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease;
  border: none;
  border-radius: 20px;
}
.form button:hover {
  background-color: #fa7465;
}
.form ul {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  align-items: center;
  margin-bottom: 32px;
}
.form li {
  margin: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.form li input {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  font-size: 20px;
  margin: 0;
}
.form li label {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  background-color: var(--main-bg);
  border: 1px solid #f7c04a;
}
[type="radio"] {
  opacity: 0;
}
[type="radio"]:hover ~ label {
  background-color: #fddf9e;
}
[type="radio"]:checked ~ label {
  background-color: #f9ce72;
  border: 1px solid #f7c04a;
}
.table {
  width: 100%;
  background-color: #fffaee;
  background-color: rgb(255, 252, 247);
  background-color: var(--main-bg);
  margin-bottom: 40px;
  padding: 20px 20%;
}
tr {
  width: 100%;
  position: relative;
  transition: all 0.3s ease;
  background-color: var(--table-color);
}
tr:hover {
  background-color: rgba(9, 85, 85, 0.1);
}
.table thead,
.table thead th,
.table td {
  padding: 5px;
  text-align: left;
}
td:last-of-type,
td:nth-last-of-type(2) {
  text-align: center;
  margin: auto;
}
.table th:nth-last-of-type(2) {
  text-align: center;
}
td span {
  width: 100%;
  height: 100%;
  padding: 3px 10px;
  cursor: pointer;
  background-color: rgb(255, 252, 247);
  border: none;
  margin: 0;
  transition: all 0.3s ease;
  position: relative;
}
td span:active {
  outline: none;
}
td span .icon {
  pointer-events: none;
}
.totalBooksSection {
  width: 100%;
  position: relative;
  max-width: 1800px;
  margin: auto;
}
.totalBooksSection > div {
  max-width: 1800px;
  padding: var(--padding-all);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: x-large;
}
.totalBooks span:first-of-type,
.averageRating span:first-of-type {
  margin-right: 15px;
}
.totalBooks span:last-of-type,
.averageRating span:last-of-type {
  min-width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--main-green);
  color: white;
}
.totalBooksSection::before {
  content: "";
  width: 30%;
  height: 120%;
  background-image: url("./assets/booksTransparent.png");
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  position: absolute;
  top: -33%;
  left: -5%;
  transform: rotate(0deg);
  z-index: 1;
}
.chart {
  width: 100%;
  padding: 75px 20%;
}
@media screen and (max-width: 830px) {
  :root {
    --padding-all: 75px 15% 75px 0px;
  }
  header::before {
    width: 300px;
    height: 300px;
  }
  .form > div {
    width: 80%;
  }
  .table {
    padding: 20px 10%;
  }
  .totalBooksSection {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .totalBooksSection > div {
    width: 60%;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    font-size: 20px;
  }
  .totalBooksSection::before {
    width: 40%;
    height: 100%;
    background-size: contain;
    background-size: 90%, 95%;
    background-position: right center;
    top: 0px;
  }
  .totalBooks span:last-of-type,
  .averageRating span:last-of-type {
    min-width: 25px;
    min-height: 25px;
  }
  .chart {
    padding: 50px 15%;
  }
}
@media screen and (max-width: 440px) {
  :root {
    --padding-all: 75px 2.5% 75px 0px;
  }
  header h1 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  .form > div {
    width: 90%;
  }
  .table {
    padding: 20px 2%;
  }
  .table thead th:nth-child(3),
  .table td:nth-child(3) {
    display: none;
  }

  .totalBooksSection > div {
    width: 60%;
  }
  .chart {
    padding: 50px 2.5%;
  }
}
