.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  z-index: 30;
  overflow: hidden;
  border-radius: 16px;
  opacity: 1;
}
.headerBoxModal {
  background-color: rgb(9, 85, 85);
  padding: 1rem;
  margin: 0;
}
.headerBoxModal span {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 4px 8px;
  cursor: pointer;
  background-color: var(--main-bg);
  border: 1px solid gray;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.3s ease;
}
.headerBoxModal span:hover {
  background-color: var(--green-hover);
}
.headerBoxModal h2 {
  margin: 0;
  color: white;
  padding-top: 60px;
}
.content {
  position: relative;
  height: 250px;
  background-color: var(--main-bg);
  margin: 0;
  z-index: 50;
}
.content::after {
  content: "";
  width: 300px;
  height: 200px;
  background-image: url("./../../assets/booksError.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.content p {
  padding: 1.5rem 1rem;
  font-size: 18px;
  margin: 0;
}
.content form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  background-color: var(--main-bg);
}
.content form input {
  padding: 6px 2.5px;
  margin-bottom: 5px;
}
.content form select {
  align-self: flex-start;
  padding: 6px 2.5px;
  margin-bottom: 5px;
}
.content form button {
  width: 45%;
  align-self: center;
  padding: 6px 2.5px;
  margin-bottom: 5px;
  background-color: var(--green-hover);
  border: none;
  outline: none;
  color: var(--main-bg);
  font-size: 18px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content form button:hover {
  background-color: rgb(9, 85, 85);
}
.content form p {
  color: red;
  transition: all 0.3s ease;
  padding: 5px;
  font-size: 16px;
}
.content footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(9, 85, 85);
  padding: 2rem 0;
}
.actions {
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(9, 85, 85);
}
.actions button {
  width: 45%;
  background-color: var(--main-bg);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.actions button:hover {
  background-color: var(--green-hover);
  color: var(--main-bg);
}

@media (max-width: 768px) {
  .modal {
    width: 80%;
    min-width: 300px;
  }
}
